* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2b2a2a;
    padding: 0;
    margin: 0;
}

header {
    padding: 50px;
    height: 50vh;
    overflow: hidden;
    background-image: url(foto.jpg);
    background-attachment: fixed;
}

header h1 {
    background-color: #2b2a2a70;
    font-size: 15vw;
    text-align: center;
    border: 10px solid wheat;
    min-width: 50%;
    margin-left: 10%;
    padding: 40px;
    color: white;
    padding: 10px;
}

main {
    margin: 0 auto;
    background-color: bisque;
    width: 90vw;
    height: 300px;
    overflow: auto;
}

footer {
    background-color: #2b2a2a ;
    
    padding: 10px;
}

footer p {
    color: aliceblue;
    text-align: center;
}

.box {
    height: 300px;
    width: 200px;
    border: 2px solid #2b2a2a;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
    display: inline-block;
}


.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}

.circle {
    border: 2px solid teal;
    height: 300px;
    width: 300px;
    border-radius: 200px;
    display: inline-block;
    overflow: hidden;
}

.circle img {
    width: 500px;
}

.circle-mask {
    display: inline-block;

    border: 2px solid teal;
    height: 300px;
    width: 300px;
    border-radius: 200px;

    background-image: url(foto.jpg);
    background-position-x: 10%;
    background-position-y: 60%;
}

html {
    font-size: 25px;
}

h2 {
    font-size: 2rem;
}

/* 1 rem -> 16px */
p {
    font-size: 1rem;
}